@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-flex-grid;
//@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
// @include foundation-float-classes;
@include foundation-flex-classes;

// @include foundation-prototype-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

body {
  margin: 0;
  font-size: 18px;
}

ul, li {
  height: 100vh;
  list-style-type: none;

  .nav-item{
    height: auto;
  }
}

h1{
  color: $white;
}


.developer{
  font-family: $body-font-family-dev;
  text-transform: uppercase;
  font-size: 30px;
}

.header {
  background-color: transparent;
  padding: 30px;
  text-align: center;
}

#navbar {
  background-color: transparent;
  display:block;
  padding-left: 100px;
  width: 100%;
  background-color: $dark-blue;
  z-index: 1;
}

#navbar a {
  float: left;
  display: block;
  color: $white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: $light-blue;
  color: $white;
}

#navbar-other {
  background-color: transparent;
  display:block;
  padding-left: 100px;
  width: 100%;
}

#navbar-other a {
  float: left;
  display: block;
  color: $white;
  text-align: center;
  padding: 0 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar-other a:hover {
  background-color: $dark-blue;
  color: $white;
}

#navbar a.active {
  background-color: $light-blue;
  color: $white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .content {
  padding-top: 60px;
}

.ul_nav{
    list-style-type: none;
    display: inline;
    margin-left: 0;
}

.center{
	text-align: center;
}

.hero{
  width: 100%;
  height: 100%;
  position: absolute;
  margin-top: 51px;
}

.intro{
  background-color: $dark-blue;
}

article {
  position: relative;
  top: 50%;
  text-align: center;
  transform: translate(0, -50%);
  padding: 1rem;
}

/* Pattern styles */
ul {
  column-count: 2;
  column-gap: 0;
  margin-left: 0;
}

.left-half {
  background-color: $dark-blue;
  position: relative;
  //background-image: url('../images/dev-landing.png');
  background-repeat: no-repeat;
  background-size: cover;

  &:hover{
    overflow: hidden;
    background-image: url('../images/dev-landing.png');
    text-decoration: underline;
  }
}

.right-half {
  background-color: $light-blue;
  position: relative;
  //background-image: url('../images/tri-landing.png');
  background-repeat: no-repeat;
  background-size: cover;

  &:hover{
    overflow: hidden;
    background-image: url('../images/tri-landing.png');
    text-decoration: underline;
  }
}

.triathlete{
  font-family: Muli;
  font-size: 30px;
  letter-spacing: 7.5px;
  text-align: center;
  text-transform: uppercase;
}

.menu-developer-font{
  font-family: $body-font-family-dev;
  font-size: rem-calc(20px);
}

.name-intro{
  font-size: rem-calc(20px);
  font-weight: 900;
  color: $white;
  position: absolute;
  text-transform: uppercase;
  transform: none;
}

.the-other-landing-page{
  float: right;
  padding-right: 100px;
  position: fixed;

  a{
    colo: $white;
    font-family: $body-font-family;
    font-size: rem-calc(20px);
    opacity: 0.5;

    &:hover{
      opacity: 1;
    }
  }
}

.row:not(.full-width) { max-width: 1200px; } //set general container width
//spacing utility classes
@for $i from 1 through 20{
  .p-top-#{$i * 10} {
    padding-top: $i * 10px;
    @media screen and (max-width: 39.9375em) { padding-top: $i * 5px; }
  }
  .p-bot-#{$i * 10} {
    padding-bottom: $i * 10px;
    @media screen and (max-width: 39.9375em) { padding-bottom: $i * 5px; }
  }
  .p-left-#{$i * 10} {
    padding-left: $i * 10px;
    @media screen and (max-width: 39.9375em) { padding-left: $i * 0px; }
  }
  .p-right-#{$i * 10} {
    padding-right: $i * 10px;
    @media screen and (max-width: 39.9375em) { padding-right: $i * 0px; }
  }
  .p-all-#{$i * 10}{
    padding: $i * 10px;
    @media screen and (max-width: 39.9375em) { padding: $i * 5px; }
  }
}

.relative{
  position: relative;
}

.first-name{
  opacity: 0.8;
  font-family: $body-font-family;
  font-size: 200px;
  font-weight: 900;
  top: -125px;
  left: 170px;
  text-transform: uppercase;
  color: $white;

  // @include breakpoint(large) {
  //   font-size: 200px;
  // }
  // @include breakpoint(medium) {
  //   font-size: 165px;
  // }
  // @include breakpoint(small) {
  //   font-size: 60px;
  // }
}

.last-name{
  opacity: 0.8;
  font-family: $body-font-family;
  font-size: 200px;
  font-weight: 900;
  top: 65px;
  left: 90px;
  text-transform: uppercase;
  color: $white;
}

.job{
  font-size: 30px;
  letter-spacing: 7.5px;
  color: $white;
  top: 360px;
  left: 100px;
  text-transform: uppercase;
  white-space: nowrap;
}

.line{
  border: solid 1px $white;
  top: 380px;
  left: 420px;
  width: 200px;
}

.yo-hero{
  position: absolute;
  top: 15px;
  right: -375px;
  z-index:998;
  width: 100%;
  max-width: 822px;
  height: auto;
  @include breakpoint(medium) {
    width: 763px;
  }
}

.split {
    height: 720px;
    width: 70%;
    position: relative;
    // z-index: 1;
    top: 0;
    // overflow-x: hidden;
    padding-top: 20px;
}

.left {
    //left: 0;
    background-color: $dark-blue;
    overflow: visible;
}

.split2 {
    height: 720px;
    width: 30%;
    position: relative;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.right {
    right: 0;
    background-color: $light-blue;
}

.dark-side{
  background-color: $black;
  // z-index:-1;
  position: relative;
}

.position{
  position: relative;
  display: flex;
}

.special{
  position: relative;
}

.special-dos{
  margin-left: -15px;
}

.rectangle{
  width: 370px;
  height: 562px;
  border: solid 2px $light-blue;
  margin-top: 110px;
  position: absolute;
  margin-left: -55px;
}

.dev{

  &__title{
    font-size: rem-calc(25px);
    color:$light-blue;
  }
  &__bio{
    font-size: rem-calc(18px);
    text-align: left;
    color: #d1d1d1;
  }
  &__download{
    font-size: rem-calc(18px);
    color:$light-blue;

    a{
      &:hover{
        color: $light-blue;
      }
    }
  }

}

.work-list{
  font-size: rem-calc(29px);
  letter-spacing: 4px;
  color: $light-blue;
  text-transform: uppercase;
  padding-bottom: 25px;
}

.project{
  padding: 25px 0 0 ;

  &__name{
    font-family: Muli;
    font-size: rem-calc(24px);
    font-weight: bold;
    color: #d2d2d2;
    font-family: $body-font-family-dev;
  }

  &__link{
    a{
      font-size: rem-calc(18px);
      font-weight: normal;
      color: #5a5a5a;
      font-family: $body-font-family-dev;
      display: block;

      &:hover{
        color: $light-blue;
      }
    }
  }
}

.contact-form{
  background-color: $dark-blue;
}

.contact{

  a{
    font-family: $body-font-family-dev;
    font-size: 25px;
    letter-spacing: 4px;
    color: $white;

    &:hover{
      color:$dark-blue;
      text-transform: underline;
    }
  }

  .button{
    background-color: $light-blue;
  }

  span{
    letter-spacing: 4px;
    font-size: 25px;
    font-family: $body-font-family-dev;
    text-transform: uppercase;
    color: $white;
  }
}

.date{
  color: $white;
  font-size: rem-calc(10px);
}

.full-list{
  font-size: rem-calc(13px);
  color: #5a5a5a;
  font-family: $body-font-family-dev;
  display: block;
  text-transform: capitalize;
}

.no-margin{
  margin: 0;
}

.no-padding{
  padding: 0 0;
}

 .container {
    width: 100%;
    height: 100%;
    position: absolute;
}

.container div {
    height: 0;
    position: absolute;
}

.elm1 {
  top: 20%;
  left: 5%;
}

.elm2 {
  width: auto;
  padding-bottom: 30%;
  top: 17px;
  right: -375px;
  z-index:998;
}

[type='text'], [type='email'], textarea,{
  background: transparent;
  border: none;
  box-shadow: none;
  border-bottom: 2px solid $white;
  font-family: $body-font-family-dev;
  font-size: 18px;
  color: $white;

  &:focus {
    background: transparent;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid $white;
    font-family: $body-font-family-dev;
    font-size: 18px;
    color: $white;
  }
}

[type='submit'], [type='button']{
  background: transparent;
  border: none;
  box-shadow: none;
  font-family: $body-font-family-dev;
  font-size: 18px;
  color: $white;
}
