@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-flex-grid;
//@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
// @include foundation-float-classes;
@include foundation-flex-classes;

// @include foundation-prototype-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

body {
  margin: 0;
  font-size: 18px;
}

ul, li {
  height: 100vh;
}

h1{
  color: $white;
}

.developer{
  font-family: $body-font-family-dev;  
}

.header {
  background-color: transparent;
  padding: 30px;
  text-align: center;
}

#navbar {
  overflow: hidden;
  background-color: transparent;
  display:block;
}

#navbar a {
  float: left;
  display: block;
  color: $white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: $light-blue;
  color: $white;
}

#navbar a.active {
  background-color: $light-blue;
  color: $white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .content {
  padding-top: 60px;
}

.ul_nav{
    list-style-type: none;
    display: inline;
    margin-left: 0;
}

.center{
	text-align: center;
}

.hero{
  &__dark{
    background-color: $dark-blue;
    color: $white;
  }
  &__light{
    background-color: $light-blue;
    color: $white;
  }
}

article {
  position: relative;
  top: 50%;
  text-align: center;
  transform: translate(0, -50%);
  padding: 1rem;
}

/* Pattern styles */
ul {
  column-count: 2;
  column-gap: 0;
  margin-left: 0;
}

li{
  list-style-type: none;
}

.left-half {
  // background-color: $dark-blue;
  position: relative;
  background-image: url('../images/dev-landing.png');
}

.right-half {
  // background-color: $light-blue;
  background-image: url('../images/tri-landing.png');
}

.name-intro{
  font-size: rem-calc(20px);
  font-weight: 900;
  color: $white;
  position: absolute;
  text-transform: uppercase;
}

.row:not(.full-width) { max-width: 1200px; } //set general container width
//spacing utility classes
@for $i from 1 through 20{
  .p-top-#{$i * 10} {
    padding-top: $i * 10px;
    @media screen and (max-width: 39.9375em) { padding-top: $i * 5px; }
  }
  .p-bot-#{$i * 10} {
    padding-bottom: $i * 10px;
    @media screen and (max-width: 39.9375em) { padding-bottom: $i * 5px; }
  }
  .p-left-#{$i * 10} {
    padding-left: $i * 10px;
    @media screen and (max-width: 39.9375em) { padding-left: $i * 0px; }
  }
  .p-right-#{$i * 10} {
    padding-right: $i * 10px;
    @media screen and (max-width: 39.9375em) { padding-right: $i * 0px; }
  }
  .p-all-#{$i * 10}{
    padding: $i * 10px;
    @media screen and (max-width: 39.9375em) { padding: $i * 5px; }
  }
}
