@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;


// Custom Esau
 
/*
  Global
*/

$white: #ffffff;
$red: #ee483e;
$blue: #00223e;
$main-font: 'Bubbler One', sans-serif;;
$base-font-color: #8d8d8d;
$base-font-size: 16px;
$base-font-family: $main-font;
$base-font-weight: 400;
$heading-font-family: 'Ubuntu', sans-serif;
$heading-font-weight: 600;

//for media queries
$large: "screen and (min-width: 64em)";
$medium: "screen and (min-width: 40em) and (max-width: 63.9375em)";
$small: "screen and (max-width: 39.9375em)";

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: $heading-font-family ; font-weight: $heading-font-weight ; }

h1 {
	font-size: 65px;
	line-height: 1.17;
	letter-spacing: 2px;
	color: $white;
	font-weight: bold;
	-webkit-animation: tracking-in-contract 0.9s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	animation: tracking-in-contract 0.9s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  	font-weight: 400;
  	
	@-webkit-keyframes tracking-in-contract {
	  0% {
	    letter-spacing: 1em;
	    opacity: 0;
	  }
	  40% {
	    opacity: 0.6;
	  }
	  100% {
	    letter-spacing: normal;
	    opacity: 1;
	  }
	}
	@keyframes tracking-in-contract {
	  0% {
	    letter-spacing: 1em;
	    opacity: 0;
	  }
	  40% {
	    opacity: 0.6;
	  }
	  100% {
	    letter-spacing: normal;
	    opacity: 1;
	  }
	}

	@media screen and (max-width: 39.9375em) { 
		font-size: 50px; 
	}

	& span{
		color: $red;
	}
}

h2{
	font-size: 25px;
	line-height: 0.83;
	color: $white;
	margin-top: 25px;
	text-transform: capitalize;
	font-weight: 300;
	display: inline;
	-webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	-webkit-backface-visibility: hidden;
  
	@-webkit-keyframes tracking-in-contract {
	  0% {
	    letter-spacing: 1em;
	    opacity: 0;
	  }
	  40% {
	    opacity: 0.6;
	  }
	  100% {
	    letter-spacing: normal;
	    opacity: 1;
	  }
	}
	@keyframes tracking-in-contract {
	  0% {
	    letter-spacing: 1em;
	    opacity: 0;
	  }
	  40% {
	    opacity: 0.6;
	  }
	  100% {
	    letter-spacing: normal;
	    opacity: 1;
	  }
	}

	@media screen and (max-width: 39.9375em) { 
	font-size: 28px; 
	}

	& span{
		color: $red;
	}
}

body > section:first-of-type {
	padding-top: 100px;
}

//set general container width
.row:not(.full-width) { 
	max-width: 1440px; 
} 

//spacing utility classes
@for $i from 1 through 20{
  .p-top-#{$i * 10} {
    padding-top: $i * 10px;
    @media screen and (max-width: 39.9375em) { padding-top: $i * 5px; }
  }

  .p-bot-#{$i * 10} {
    padding-bottom: $i * 10px;
    @media screen and (max-width: 39.9375em) { padding-bottom: $i * 5px; }
  }

  .p-left-#{$i * 10} {
    padding-left: $i * 10px;
    @media screen and (max-width: 39.9375em) { padding-left: $i * 5px; }
  }

  .p-right-#{$i * 10} {
    padding-right: $i * 10px;
    @media screen and (max-width: 39.9375em) { padding-right: $i * 5px; }
  }

  .p-all-#{$i * 10}{
    padding: $i * 10px;
    @media screen and (max-width: 39.9375em) { padding: $i * 5px; }
  }
}

.hidden { 
	display: none; 
}

//z-index pull forward
.forward{  
	z-index: 1;  
}

//force full width 
.full-width {  
	max-width: 100%;  
}

.text-center { 
	text-align: center; 
} 

//force relative position
.relative { 
	position: relative; 
} 

.right { 
	float: right; 
} 

.left { 
	float: left;
}   

.valign-container { //used to vertically align things
	display: table;
	height: 100%;
  
	.valign-middle {
		display: table-cell;
	    vertical-align: middle;
	}
}

.small-auto-height{ 
	@media screen and (max-width: 39.9375em) { 
		height: auto !important; 
	} 
}

/*
  Intro Section
*/

.test{
	
}

.intro{
 	background: linear-gradient(-45deg,$red 0,$blue 60%,$blue 52%,$blue 73%,$blue 100%);
	width:100%;
	height:100%;
	position: absolute;
}

section{
	background-color: $white; 
	height: 100%;
}

p{
	color: $white;
}

.transparency{
	//background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='anchors-away' fill='%23e7e7e7' fill-opacity='0.035'%3E%3Cpath d='M12.392 14v15.95c-3.278-.325-6.09-2.233-7.66-4.95l3.464-2L0 20.804 2.885 25.8C4.93 29.498 8.87 32 13.392 32c4.524 0 8.463-2.503 10.508-6.2l2.885-4.996L18.588 23l3.466 2c-1.57 2.717-4.384 4.625-7.662 4.95V14h5v-2h-5V7.874c1.726-.444 3-2.01 3-3.874 0-2.21-1.79-4-4-4s-4 1.79-4 4c0 1.864 1.275 3.43 3 3.874V12h-5v2h5zm1-8c1.105 0 2-.895 2-2s-.895-2-2-2c-1.104 0-2 .895-2 2s.896 2 2 2zm39 48v15.95c-3.278-.325-6.09-2.233-7.66-4.95l3.464-2L40 60.804l2.885 4.997C44.93 69.498 48.87 72 53.392 72c4.524 0 8.463-2.503 10.508-6.2l2.885-4.996L58.588 63l3.466 2c-1.57 2.717-4.384 4.625-7.662 4.95V54h5v-2h-5v-4.126c1.726-.444 3-2.01 3-3.874 0-2.21-1.79-4-4-4s-4 1.79-4 4c0 1.864 1.275 3.43 3 3.874V52h-5v2h5zm1-8c1.105 0 2-.895 2-2s-.895-2-2-2c-1.104 0-2 .895-2 2s.896 2 2 2zm-40 14c1.105 0 2-.895 2-2s-.895-2-2-2c-1.104 0-2 .895-2 2s.896 2 2 2zm40-40c1.105 0 2-.895 2-2s-.895-2-2-2c-1.104 0-2 .895-2 2s.896 2 2 2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	-webkit-animation:600s scroll infinite linear;
	-moz-animation:600s scroll infinite linear;
	-o-animation:600s scroll infinite linear;
	-ms-animation:600s scroll infinite linear;
	animation:600s scroll infinite linear;

	@-webkit-keyframes scroll{
	  100%{
	    background-position:0px -3000px;
	  }
	}

	@-moz-keyframes scroll{
	  100%{
	    background-position:0px -3000px;
	  }
	}

	@-o-keyframes scroll{
	  100%{
	    background-position:0px -3000px;
	  }
	}

	@-ms-keyframes scroll{
	  100%{
	    background-position:0px -3000px;
	  }
	}

	@keyframes scroll{
	  100%{
	    background-position:0px -3000px;
	  }
	}
}

.image__hero{
	opacity: .1;
}

.imgHolder{
	display: inline-block;
	background: #000;
}
.item-fade{
	opacity: 0.1;
	transition: opacity 0.9s;
	-webkit-transition: opacity 0.9s;
	position: fixed;
	top:0;
	z-index:0;
	height:100%;
}
.hover:hover{
	opacity: 0.2;
}

.vline{
	height: 45px;
	border-left: 1px solid $red;
	position: absolute;
    margin: -10px 0px;
}

.hline{
	width: 160px;
	border-top: 1px solid $red;
	position: absolute;
    margin: 0 -10px;
}

.arrow {
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left:-20px;
}

.bounce {
	-webkit-animation-name: bounce;
	-moz-animation-name: bounce;
	-o-animation-name: bounce;
	animation-name: bounce;

	@-webkit-keyframes bounce {
		0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	40% {-webkit-transform: translateY(-30px);}
		60% {-webkit-transform: translateY(-15px);}
	}

	@-moz-keyframes bounce {
		0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
		40% {-moz-transform: translateY(-30px);}
		60% {-moz-transform: translateY(-15px);}
	}

	@-o-keyframes bounce {
		0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
		40% {-o-transform: translateY(-30px);}
		60% {-o-transform: translateY(-15px);}
	}
	@keyframes bounce {
		0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
		40% {transform: translateY(-30px);}
		60% {transform: translateY(-15px);}
	}
}
.animated{
	-webkit-animation-fill-mode:both;
	-moz-animation-fill-mode:both;
	-ms-animation-fill-mode:both;
	-o-animation-fill-mode:both;

	animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;

	animation-fill-mode:both;
	-webkit-animation-duration:2s;
	-moz-animation-duration:2s;
	-ms-animation-duration:2s;
	-o-animation-duration:2s;
	animation-duration:2s;
}